.about-container {
    max-width: 1000px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}

.about-container p {
    line-height: 2;
    padding: 0 20px;
}

.about-container .profile-image {
    text-align: center;
    padding: 20px;
}

.about-container .profile-image img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 8px;
}


.our-product-heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    padding-top: 10px;
}

.description {
    text-align: justify;
    text-justify: inter-word;
}